<!-- NOTE TO SELF USE THE FOLLOWING -->
<!-- <p class="fs-1">.fs-1 text</p> -->
<div class="row margin-main ">
  <div class="col-sm-6 card card-body h-100 pokedex-style pokedex-style-green-text">
    <div class="col-sm fit-content">
      <img
        src="{{ this.pokemon?.img }}"
        alt="{{ this.pokemon?.name }}"
        class="img-thumbnail"
      />
    </div>
    <div class="col-sm">
      <h1>
        {{ this.pokemon?.name | titlecase }}
      </h1>
      <h3>N° {{ this.pokemon?.number }}</h3>
    </div>
    <div class="col-sm">
      <h3>{{ this.pokemon!.tipo | betterArray }}</h3>
      <ul class="list-group">
        <li class="list-group-item pokedex-list-item fw-bold" *ngFor="let stat of this.pokemon?.stat">
          {{ stat.name }} : {{ stat.value }}
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>Possibile abilities</h3>
      <ul class="list-group">
        <li class="list-group-item pokedex-list-item " *ngFor="let ability of this.pokemon?.abilities">
          {{ ability.name | titlecase }}
        </li>
      </ul>
    </div>
    <hr>
    <div class="col-sm">
      <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-caret-left-fill arrow justify-content-start" viewBox="0 0 16 16" (click)="previousPokemon()">
        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-caret-right-fill arrow justify-content-end arrow-right" viewBox="0 0 16 16" (click)="nextPokemon()">
        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
      </svg>
    </div>
  </div>

  <div class="col-sm-6 h-100 margin-infos pokedex-style">
    <button
      type="button"
      class="btn btn-warning fit-content "
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample"
    >
      All moves
    </button>
    <div
      id="collapseExample"
      [ngbCollapse]="isCollapsed"
      class="card card-body mt-1 small-margin-bot pokedex-style-green-bg"
    >
      <div class="col-xs">
        <ul class="list-group">
          <li
          class="list-group-item pokedex-list-item selectable"
            *ngFor="let move of this.pokemon?.moves"
            (click)="onSelectMove(move)"
          >
            <div href="#">{{ move.name | titlecase }}</div>
          </li>
        </ul>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-info fit-content "
      (click)="isCollapsed2 = !isCollapsed2"
      [attr.aria-expanded]="!isCollapsed2"
      aria-controls="collapseExample"
    >
      Additional infos
    </button>
    <div
      id="collapseExample"
      [ngbCollapse]="isCollapsed2"
      class="card card-body mt-1 small-margin-bot pokedex-style-green-bg"
    >
      <div class="col-xs" *ngIf="!!this.moveSelectedInfos; else movesLoading">
        <h3>{{ (this.moveSelectedInfos | async)?.name | titlecase }}</h3>
        <div>accuracy: {{ (this.moveSelectedInfos | async)?.accuracy }}</div>
        <div>pp: {{ (this.moveSelectedInfos | async)?.pp }}</div>
        <div>priority: {{ (this.moveSelectedInfos | async)?.priority }}</div>
        <div>power: {{ (this.moveSelectedInfos | async)?.power }}</div>
        <div
          *ngFor="
            let moveDescr of (this.moveSelectedInfos | async)?.effect_entries
          "
        >
          {{ moveDescr.short_effect | replace: "$effect_chance%":"" }}
        </div>
      </div>
      <ng-template #movesLoading>Select move!</ng-template>
    </div>
  </div>
</div>
