<div class="col-sm p-3 searchbar">
  <div class="input-group mb-3">
    <button class="btn btn-success" (click)="searchPokemon()">Search</button>
    <button class="btn btn-outline-dark" (click)="randomPokemon()">
      Random!
    </button>

    <input
      type="text"
      name="search"
      class="form-control searchbar-scale"
      placeholder=" Insert name or number"
      aria-describedby="searchHelpBlock"
      (keyup.enter)="searchPokemon()"
      #searchQuery
    />
  </div>
  <div class="loader" *ngIf="this.loading">Loading...</div>
  <span
    id="searchHelpBlock"
    class="form-text help-box"
    *ngIf="!!this.error"
    >{{ this.error.value }}</span
  >
</div>

<div class="infos" *ngIf="!!this.pokemon; else pokemonNotFound">
  <app-pokemon [pokemon]="this.pokemon"></app-pokemon>
</div>
<ng-template #pokemonNotFound>
  <h2>Cant find this pokemon!</h2>
</ng-template>
