<div class="col-sm p-3 searchbar">
  <div class="input-group mb-3">
    <button class="btn btn-success" (click)="searchPokemon()">Search</button>
    <button class="btn btn-outline-dark" (click)="randomPokemon()">
      Random!
    </button>

    <input
      type="text"
      name="search"
      class="form-control searchbar-scale"
      placeholder=" Insert name or number"
      aria-describedby="searchHelpBlock"
      (keyup.enter)="searchPokemon()"
      #searchQuery
    />
  </div>
  <div style="min-height: 2em">
    <span
    class="form-text font-monospace"
    *ngIf="this.loading"
    >Loading...</span
  >
  </div>
  
  <span
    id="searchHelpBlock"
    class="form-text help-box"
    *ngIf="!!this.error"
    >{{ this.error.value }}</span
  >
</div>

<div class="infos" *ngIf="!!this.pokemon; else pokemonNotFound">
  <app-pokemon [pokemon]="this.pokemon" (arrowClicked) = "changePokemon($event)"></app-pokemon>
</div>
<ng-template #pokemonNotFound>
  <div class="loader reduce-spinner">Loading...</div>
</ng-template>
